{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <div id="url-bar">
        <h3 style="text-align: left;"> Shorten your URL, not your life</h3>
        <form action="{{ url_for('index') }}" class="form" method="post">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}" />
        {% for field in form %}
            <div class="input-group mb-3{% if field.errors %} has-error has-feedback{% endif %}">
				{% if field.label.text != '' %}
					<div class="input-group-prepend">
						<span class="input-group-text">{{ field.label.text }}</span>
					</div>
				{% endif %}
				{{ field(placeholder=field.description, class="form-control" + (" is-invalid" if field.errors else "")) }}
				{% for error in field.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
			</div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Shorten URL &raquo;</button>
        </form>
    </div>

{% endblock %}
